/************************************************
/* General Settings
************************************************/

/* Browser Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */

:root {
    /* Color of the body */
    --body-color: #BCC1CC;

    /* Light theme sheet and font colors */
    --littheme-sheet: #FFFFFF;
    --littheme-color: #000000;
    /* Dark theme sheet and font colors */
    --drktheme-sheet: #3C3C3C;
    --drktheme-color: #B4B4B4;
}

/************************************************
/* Body
************************************************/

body {
    background-color: var(--body-color);
}

.container {
    display: flex;
}

.controls {
    display: flex;
    justify-content: flex-end;
}

.sheet {
    aspect-ratio: 210 / 297;
    background-color: var(--littheme-sheet);
    border: 1px solid var(--littheme-color);
}

h1 {
    text-align: center;
    color: var(--littheme-color);
}